body{
    margin: 0;
    background-image: url(url../toothless.jpg);
    background-size: cover;
}
.topnav{
    overflow: hidden;
    background-color: red;
}
.topnav a{
    float:left;
    color:rgb(19, 93, 4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topnav a{
    background-color: brown;
}